

.card form button{
  background-color: rgb(13, 64, 111);
  border-radius: 5px;
  width: 40%;
  padding:5px;
} 

.card form button:hover{
 cursor:pointer;
 background-color: blue;
} 

.card form input{
  padding: 5px;;
}