body{
  background-color: #1b283b;
  background-image: url("./form.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
}


.card{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}


